<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<% if request.path.include? "my_posts" %>
  <%= button_to "All Posts", "/posts", method: "get" %>
<% else %>
  <%= button_to "My Posts", "/posts/my_posts", method: "get" %>
<% end %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>

  <% end %>
</div>

</table>

<%= button_to "New post", new_post_path %>


<p>        </P>

<%= button_to "Home", "/", method: "get" %>